
.column{
    float: left;
    width: 33.33%;
    padding 10px;
    height: 300px;
    
}
.row:after{
    content: "";
    display: table;
    clear:both;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: dodgerblue;
  padding: 20px;
}
.flex-container > div{
    background-color: aliceblue;
    padding: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
